<h1><%= @breed.name %></h1>

 <table>
  <tr>
    <td>Description</td>
    <td><%= @breed.description %></td>
  </tr>
  <tr>
    <td>Temperament</td>
    <td><%= @breed.temperament %></td>
  </tr>
  <tr>
    <td>Origin</td>
    <td><%= @breed.origin %></td>
  </tr>
  <tr>
    <td>Friendliness</td>
    <td><%= @breed.stranger_friendly%></td>
  </tr>
</table>

<h3>Current Population: <%= @total_cats %></h3>
<p>
  <% @cats.each do |cat| %>
    - <%= link_to cat.name, cat %>
  <% end %>-
</p>

